<form [formGroup]="form" autocomplete="off">
   
    <mat-toolbar>
        <span>{{context}}</span>
        <span class="spacer"></span>
        <mat-slide-toggle formControlName="active" color="warn">
            {{form.get('active')?.value ? 'Active' : 'Archived' }}
        </mat-slide-toggle>
    </mat-toolbar>
   

    <div mat-dialog-content>
        <div>

        </div>
        <br>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Note content</mat-label>
                <textarea matInput formControlName="content" required></textarea>
                <mat-icon matSuffix>description</mat-icon>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Categories</mat-label>
                <mat-select formControlName="categoryIds" multiple>
                    <mat-option *ngFor="let category of categories" [value]="category.id">
                        {{ category.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
</form>


<div mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end space-between">
    <div>
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button (click)="submit()" cdkFocusInitial>Save</button>
    </div>
</div>