
<h1 mat-dialog-title>Note Manager v1.0</h1>

<div mat-dialog-content>
    <p class="paragraph">
        Dear Ensolvers Team! <br>
        Thank you for taking the time to check this =) <br>
        Techologies used:
    </p>
    <ul>
        <li>Backend: NestJS, TypeORM</li>
        <li>Frontend: Angular, Angular Material (Components)</li>
        <li>DB: MySQL</li>
    </ul>
    <p class="paragraph"> I hope you enjoy checking the project as much as I enjoyed creating it! </p>
    <p class="paragraph"> <i>Sergio Laureano </i> </p>
</div>


<div mat-dialog-actions fxLayout="row wrap" fxLayoutAlign="end space-between">
    <div>
        <button mat-raised-button (click)="onDismiss()">Close</button>
    </div>
</div>